<div id="pledges-exists">
  <% if @project.pledges.find_by(backer_id: current_user) %>
    <p>You've already backed this project.</p>
    <p>You've pledged <span>$<%= @project.pledges.find_by(backer_id: current_user).amount %></span></p>
  <% end %>
  <%= form_for [@project, @pledge], remote: true do |f| %>
      <p>Update your pledge:</p>
      <div class="field">
        <%= f.label :amount %>
        <%= f.number_field :amount, value: @pledge.amount %>
        <%= "   " %>
        <%= link_to "Delete This Pledge", [@project, @pledge], method: :delete, data: {confirm: "Are you sure you want to delete this pledge?"} %>
      </div>

      <div class="action">
        <%= f.submit "Submit your pledge" %>
      </div>
  <% end %>
</div>